<div class="container-fluid">
  <div class="row mt-5 ml-1 mr-1">
    <div class="offset-md-4 col-md-5">        
        <mat-card class="p-3">
           <mat-card-header [style.display]="displaySpiner ? 'none' : 'block'">
             <mat-card-title style= "width: 100%">Login</mat-card-title>
           </mat-card-header>
           <mat-card-content [style.display]="displaySpiner ? 'none' : 'block'">
              <form class="example-form">
                <table class="example-full-width" style="width:100%;" cellspacing="0">
                 <tr>
                   <td>
                     <mat-form-field style="width:100%;" class="example-full-width">
                        <input matInput placeholder="Email" style="width:100%;" [(ngModel)]="email" name="email" required>
                     </mat-form-field>
                   </td>
                 </tr>
                 <tr>
                    <td>
                      <mat-form-field style="width:100%;" class="example-full-width">
                        <input matInput placeholder="Password" style="width:100%;" [(ngModel)]="password"type="password" name="password" required>
                      </mat-form-field>
                    </td>
                 </tr>
                </table>
              </form>
           </mat-card-content>
           <mat-card-actions [style.display]="displaySpiner ? 'none' : 'block'">
              <mat-chip-list>
                <mat-chip (click)="login()" color="primary">Login</mat-chip>
              </mat-chip-list>
           </mat-card-actions>
           <mat-spinner [style.display]="displaySpiner ? 'block' : 'none'" class="spiner"></mat-spinner>
        </mat-card>
    </div>
  </div>
</div>